{
  "default": {
    "home": {
      "r": 255,
      "g": 191,
      "b": 0
    },
    "accent": {
      "r": 255,
      "g": 191,
      "b": 0
    },
    "text": {
      "r": 255,
      "g": 191,
      "b": 0
    }
  }
}

